<br />
A message from <b>{{ inventory_hostname }}</b>
<br />
CPU count: <b>{{ ansible_processor_vcpus }}</b>
<br />
CPU @ {{ cpu_model }}: <b>{{ cpu_count }}</b>
<br />
RAM size: <b>{{ ram_size }}</b>
<br />
HDD volume: <b>{{ hdd_size }}</b>
<br />
